// colores

$principal: #810000;

// variables bootstrap

$primary: $principal;

$enable-shadows: true;
$enable-gradients: true;


@import './../libs/bootstrap/scss/bootstrap';

.btn-primary {
    border-bottom: 5px, solid;
    border-bottom-color: rgba($color: #000000, $alpha: 0.70);
}
